@page
@model LectureAttendance.Pages.Control.Update.U_Instructor
@{
    ViewBag.UserType = HttpContext.Session.GetString("Type");
    ViewBag.UserEmail = HttpContext.Session.GetString("Email");
}

<head>
    <title>Update</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap-5.3.2-dist/bootstrap-5.3.2-dist/css/bootstrap.min.css">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Control/Add/Instructor">Add</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link">Update</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Control/Delete/D_Instructor">Delete</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
    <div class="a">
        <div class="container-fluid">
            <form action="" id="loginForm" method="post">
                <h1 style="margin-bottom:5%;">Update An Instructor</h1>

                <br />
                @if (Model.errorMessage.Length > 0)
                {
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <strong>@Model.errorMessage</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                }
                else if (Model.successMessage.Length > 0)
                {
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                            <strong>@Model.successMessage</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                }


                <label>Instructor ID</label>
                <input type="text" asp-for="InstructorId" class="form-control" readonly="@(Model.flag ? true:false)" placeholder="Enter An Exist Instructor ID Here">
                <span asp-validation-for="InstructorId" class="text-danger"></span>
                <br />


                @if (Model.flag)
                {
                                <style>.DEV
                                    {
                                        display: inline;
                                    }
                                </style>
                }
                else
                {
                                <style>.DEV
                                    {
                                        display: none;
                                    }
                                </style>
                }




            <div class="DEV">

                <label>Name</label>
                <input type="text" id="student1" class="form-control" asp-for="Name" value="@Model.Name" placeholder="Enter The New Instructor Name Here">
                <span asp-validation-for="Name" class="text-danger"></span>
                <br />
                
                <label>Department</label>
                <input type="text" email="user1" value="@Model.Department" asp-for="Department" class="form-control" placeholder="Enter The New Instructor Department Here">
                <span asp-validation-for="Department" class="text-danger"></span>
                <br />

                <input type="text" email="user1" value="@Model.Email" asp-for="Email" class="form-control" placeholder="Enter The New Instructor Email Here">
                <span asp-validation-for="Email" class="text-danger"></span>
                <br />

                <label>Password</label>
                <input type="password" value="@Model.Password" asp-for="Password" class="form-control" placeholder="Enter The New Instructor Password Here">
                <span asp-validation-for="Password" class="text-danger"></span>
                <br />

                <label>Phone</label>
                <input type="text" value="@Model.Phone" asp-for="Phone" class="form-control" placeholder="Enter The New Instructor Phone Here">
                <span asp-validation-for="Phone" class="text-danger"></span>
                <br />

                <label>BirthDate</label>
                <input type="date" value="@Model.BirthDate" asp-for="BirthDate" class="form-control">
                <span asp-validation-for="BirthDate" class="text-danger"></span>
                <br />
                <br />

               <label>
                    <input type="radio" name="gender" asp-for="Gender" value="M" checked="@(Model.Gender=='M' ? true:false)" />
                    Male
                </label>

                <label>
                    <input type="radio" name="gender" asp-for="Gender" value="F" checked="@(Model.Gender=='F' ? true:false)" />
                    Female
                </label>
                <br />
                <span asp-validation-for="Gender" class="text-danger"></span>
                <br />
                <br />
          </div>          







                @if (Model.flag == false)
                {


                        <input type="hidden" asp-for="Action" value="Get"/>
                        <button type="submit" class="btn" style="  display: inline-block;
                            background-color: #172432;
                            border: none;
                            color: #ddd;
                            padding: 10px 20px;
                            border-radius: 5px;">
                            Search
                        </button>
                }
                else
                { 
                        <input type="hidden" asp-for="Action" value="Update"/>
                        <button type="submit" class="btn" style="  display: inline-block;
                            background-color: #172432;
                            border: none;
                            color: #ddd;
                            padding: 10px 20px;
                            border-radius: 5px;">
                            Update
                        </button>
                }


            </form>
        </div>
    </div>

</body>
