@page
@model LectureAttendance.Pages.Control.Update.U_Lecture
@{
    ViewBag.UserType = HttpContext.Session.GetString("Type");
    ViewBag.UserEmail = HttpContext.Session.GetString("Email");
}

<head>
    <title>Update</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap-5.3.2-dist/bootstrap-5.3.2-dist/css/bootstrap.min.css">
</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Control/Add/Lecture">Add</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link">Update</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/Control/Delete/D_Lecture">Delete</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
    <div class="a">
        <div class="container-fluid" style="height:600px">
            <form action="" id="loginForm" method="post">
                <h1 style="margin-bottom:5%;">Update A Lecture</h1>

                <br />
                @if(Model.errorMessage.Length > 0)
                {
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>@Model.errorMessage</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                else if(Model.successMessage.Length > 0)
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>@Model.successMessage</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }


                <label>Lecture Date</label>
                <input type="date" asp-for="LectureDate" class="form-control" readonly="@(Model.flag ? true:false)" placeholder="Enter The Lecture Date Here">
                <span asp-validation-for="LectureDate" class="text-danger"></span>
                <br />
                
                <label>Lecture Start Time</label>
                <input type="time" asp-for="LectureStartTime" class="form-control" readonly="@(Model.flag ? true:false)" placeholder="Enter The Lecture Start Time Here">
                <span asp-validation-for="LectureStartTime" class="text-danger"></span>
                <br />

                <fieldset>
                    <label>Lecture Location</label>
                    <select asp-for="LectureLocation">
                        <option value="Lecture hall 1" readonly="@(Model.flag ? true:false)">Lecture hall 1</option>
                        <option value="Lecture hall 2">Lecture hall 2</option>
                        <option value="Lecture hall 3">Lecture hall 3</option>
                        <option value="Lecture hall 4">Lecture hall 4</option>
                        <option value="Lecture hall 5">Lecture hall 5</option>
                        <option value="Lecture hall 6">Lecture hall 6</option>
                        <option value="Lecture hall 7">Lecture hall 7</option>
                        <option value="Lecture hall 8">Lecture hall 8</option>
                        <option value="Lecture hall 9">Lecture hall 9</option>
                    </select>
                </fieldset> 
                @* <span asp-validation-for="LectureLocation" class="text-danger"></span> *@
                <br /> 


                @if (Model.flag)
                {
                            <style>.DEV
                                {
                                    display: inline;
                                }
                            </style>
                }
                else
                {
                            <style>.DEV
                                {
                                    display: none;
                                }
                            </style>
                }

             


            <div class="DEV">

                <label>Lecture End Time</label>
                <input type="time" class="form-control" asp-for="LectureEndTime" value="@Model.LectureEndTime" placeholder="Enter The New Lecture End Time Here">
                <span asp-validation-for="LectureEndTime" class="text-danger"></span>
                <br />

                <fieldset id="">
                    <label>Lecture Course</label>
                    <select asp-for="LectureCourse" asp-for="LectureEndTime" value="@Model.LectureCourse">
                        <option>Choose</option>
                            @foreach (var course in Model.CoursesList())
                            {
                                    <option value="@course">@course</option>
                            }
                    </select>
                </fieldset>
                <span asp-validation-for="LectureCourse" class="text-danger"></span>
                <br />




                <fieldset id="">
                    <label>Lecture Instructor</label>
                    <select asp-for="LectureInstructor" asp-for="LectureEndTime" value="@Model.LectureInstructor">
                        <option>Choose</option>
                            @foreach (var instructor in Model.InstructorsList())
                            {
                                <option value="@instructor">@instructor</option>
                            }
                    </select>
                </fieldset>
                <span asp-validation-for="LectureInstructor" class="text-danger"></span>
                <br />
               
            </div>          
                
               
                

                   
                    

                 @if (Model.flag == false){
                         

                    <input type="hidden" asp-for="Action" value="Get"/>
                    <button type="submit" class="btn" style="  display: inline-block;
                            background-color: #172432;
                            border: none;
                            color: #ddd;
                            padding: 10px 20px;
                            border-radius: 5px;">
                        Search
                    </button>
                }
                else
                { 
                    <input type="hidden" asp-for="Action" value="Update"/>
                    <button type="submit" class="btn" style="  display: inline-block;
                            background-color: #172432;
                            border: none;
                            color: #ddd;
                            padding: 10px 20px;
                            border-radius: 5px;">
                                Update
                    </button>
                }

                
            </form>
        </div>
    </div>

</body>
