@page
@model IndexModel
@{
    ViewBag.UserEmail = HttpContext.Session.GetString("Email");
    ViewBag.UserType = HttpContext.Session.GetString("Type");
    ViewData["Title"] = "Schedule";
}
    

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap-5.3.2-dist/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/table.css" />
</head>


<body>

    @if (Model.errorMessage.Length > 0)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>@Model.errorMessage</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    else if (Model.successMessage.Length > 0)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>@Model.successMessage</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
        <table>
            <tr>
                <th>Location</th>
                <th>StartTime</th>
                <th>EndTime</th>
                <th>Instructor</th>
                <th>Course</th>
                <th>Date</th>
            </tr>

            @if (HttpContext.Session.GetString("Type") == "Student")
            {
                var list = Model.StudentLecturesList();
                if (list != null && list.Any())
                {
                    foreach (var lecture in list)
                    {
                        <tr>
                            <td>@lecture.Location</td>
                            <td>@lecture.StartTime</td>
                            <td>@lecture.EndTime</td>
                            <td>@lecture.InstructorId</td>
                            <td>@lecture.CourseId</td>
                            <td>@lecture.DateOfLecture</td>

                            <td>
                                <form method="post">
                                    <input type="hidden" asp-for="Action" value="Register"/>
                                    <input type="hidden" asp-for="Location" value="@lecture.Location"/>
                                    <input type="hidden" asp-for="Date" value="@lecture.DateOfLecture"/>
                                    <input type="hidden" asp-for="StartTime" value="@lecture.StartTime"/>
                                    <button type="submit" class="btn" style="  display: inline-block;
                        background-color: #172432;
                        border: none;
                        color: #ddd;
                        padding: 10px 20px;
                        border-radius: 5px;">
                                        Register
                                    </button>
                                </form>
                            </td>
                    </tr>
                }
            }
        }
        else if (HttpContext.Session.GetString("Type") == "Instructor")
        {
            var list = Model.InstructorLecturesList();
            if (list != null && list.Any())
            {
                foreach (var lecture in list)
                {
                    <tr>
                        <td>@lecture.Location</td>
                        <td>@lecture.StartTime</td>
                        <td>@lecture.EndTime</td>
                        <td>@lecture.InstructorId</td>
                        <td>@lecture.CourseId</td>
                        <td>@lecture.DateOfLecture</td>

                        <td>
                            <form method="post">
                                <input type="hidden" asp-for="Action" value="Start"/>
                                <input type="hidden" asp-for="Location" value="@lecture.Location"/>
                                <input type="hidden" asp-for="Date" value="@lecture.DateOfLecture"/>
                                <input type="hidden" asp-for="StartTime" value="@lecture.StartTime"/>
                                <button type="submit" class="btn" style="  display: inline-block;
                        background-color: #172432;
                        border: none;
                        color: #ddd;
                        padding: 10px 20px;
                        border-radius: 5px;">
                                    Start
                                </button>
                            </form>
                        </td>
                        <td>
                            <form method="post">
                                <input type="hidden" asp-for="Action" value="End"/>
                                <input type="hidden" asp-for="Location" value="@lecture.Location"/>
                                <input type="hidden" asp-for="Date" value="@lecture.DateOfLecture"/>
                                <input type="hidden" asp-for="StartTime" value="@lecture.StartTime"/>
                                <button type="submit" class="btn" style="  display: inline-block;
                        background-color: #172432;
                        border: none;
                        color: #ddd;
                        padding: 10px 20px;
                        border-radius: 5px;">
                                    End
                                </button>
                            </form>
                        </td>
                        <td>
                            <form method="post">
                                <input type="hidden" asp-for="Action" value="Report"/>
                                <input type="hidden" asp-For="Location" value="@lecture.Location"/>
                                <input type="hidden" asp-For="Date" value="@lecture.DateOfLecture"/>
                                <input type="hidden" asp-For="StartTime" value="@lecture.StartTime"/>
                                <button type="submit" class="btn" style="  display: inline-block;
                        background-color: #172432;
                        border: none;
                        color: #ddd;
                        padding: 10px 20px;
                        border-radius: 5px;">
                                    Report
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            }
        }
        else if (HttpContext.Session.GetString("Type") == "Admin")
        {
            var list = Model.AdminLecturesList();
            if (list != null && list.Any())
            {
                foreach (var lecture in list)
                {
                    <tr>
                        <td>@lecture.Location</td>
                        <td>@lecture.StartTime</td>
                        <td>@lecture.EndTime</td>
                        <td>@lecture.InstructorId</td>
                        <td>@lecture.CourseId</td>
                        <td>@lecture.DateOfLecture</td>

                        <td>
                            <form method="post">
                                <input type="hidden" asp-for="Action" value="Report" />
                                <input type="hidden" asp-For="Location" value="@lecture.Location" />
                                <input type="hidden" asp-For="Date" value="@lecture.DateOfLecture" />
                                <input type="hidden" asp-For="StartTime" value="@lecture.StartTime" />
                                <button type="submit" class="btn" style="  display: inline-block;
                        background-color: #172432;
                        border: none;
                        color: #ddd;
                        padding: 10px 20px;
                        border-radius: 5px;">
                                    Report
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            }
        }
        </table>  
</body>
	