@page
@model IndexModel
@{   
    ViewBag.UserEmail = HttpContext.Session.GetString("Email");
    ViewBag.UserType = HttpContext.Session.GetString("Type");
    ViewData["Title"] = "Schedule";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap-5.3.2-dist/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/table.css" />
</head>


<body>
    <div class="container-fluid" style="width:1000px; height:500px">
        <table>

            <tr>
                <th>Location</th>
                <th>StartTime</th>
                <th>EndTime</th>
                <th>Instructor</th>
                <th>Course</th>
                <th>Date</th>
            </tr>




            @foreach (var lecture in Model.WhichList)
            {
                <tr>
                    <td>@lecture.Location</td>
                    <td>@lecture.StartTime</td>
                    <td>@lecture.EndTime</td>
                    <td>@lecture.InstructorId</td>
                    <td>@lecture.CourseId</td>
                    <td>@lecture.DateOfLecture</td>
                    @if (HttpContext.Session.GetString("Type") == "Student")
                    {
                        <td>
                            <button type="submit" class="btn" style="  display: inline-block;
                        background-color: #172432;
                        border: none;
                        color: #ddd;
                        padding: 10px 20px;
                        border-radius: 5px;">
                                Register
                            </button>
                        </td>
                    }
                    else if (HttpContext.Session.GetString("Type") == "Instructor")
                    {
                        <td>
                            <button type="submit" class="btn" style="  display: inline-block;
                            background-color: #172432;
                            border: none;
                            color: #ddd;
                            padding: 10px 20px;
                            border-radius: 5px;">
                                Start
                            </button>
                        </td>
                        <td>
                            <button type="submit" class="btn" style="  display: inline-block;
                            background-color: #172432;
                            border: none;
                            color: #ddd;
                            padding: 10px 20px;
                            border-radius: 5px;">
                                End
                            </button>
                        </td>
                    }
                </tr>
            }

        </table>
    </div>
    

</body>
