@page
@model LectureAttendance.Pages.ReportModel
@{
    ViewBag.UserEmail = HttpContext.Session.GetString("Email");
    ViewBag.UserType = HttpContext.Session.GetString("Type");
    ViewData["Title"] = "Report";
    int counter = 0;
}

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
else if (Model.successMessage.Length > 0)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@Model.successMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap-5.3.2-dist/bootstrap-5.3.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/table.css" />
</head>

<body>
    <table>
        <tr>
            <th>Student ID</th>
            <th>Student Name</th>
            <th>Student Attendance Time</th>
        </tr>
            @foreach (var l in Model.LectureAttendanceList())
            {
                <tr>
                <td>@l.StudentID</td>
                <td>@Model.SNames[counter]</td>
                @{counter++;}
                <td>@l.LectureAttendanceTime</td>
                    <td>
                    <form method="post">
                    <input type="hidden" asp-for="StudentID" value="@l.StudentID"/>
                    <input type="hidden" asp-for="Location" value="@l.LecturesLocation"/>
                    <input type="hidden" asp-for="Date" value="@l.LecturesDateOfLecture"/>
                    <input type="hidden" asp-for="StartTime" value="@l.LecturesStartTime"/>
                    <button type="submit" class="btn" style="  display: inline-block;
                        background-color: #172432;
                        border: none;
                        color: #ddd;
                        padding: 10px 20px;
                        border-radius: 5px;">
                            Delete
                    </button>
                    </form>
                    </td>
                </tr>
            }
        <tr>
            <th>Total:</th>
            <th>@counter</th>
        </tr>
    </table>
</body>