@page
@model LectureAttendance.Pages.Control.Add.LectureModel
@{
}


<head>
    <title>Add</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap-5.3.2-dist/bootstrap-5.3.2-dist/css/bootstrap.min.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link">Add</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" asp-page="/Control/Update/U_Lecture">Update</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-page="/Control/Delete/D_Lecture">Delete</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="a">
        <div class="container-fluid">
            <form action="" id="loginForm" method="post">
                <h1 style="margin-bottom:5%;">Add A New Lecture</h1>

                @if (Model.errorMessage.Length > 0)
                {
                           <div class="alert alert-warning alert-dismissible fade show" role="alert">
                               <strong>@Model.errorMessage</strong>
                               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                           </div>
                }
                else if (Model.successMessage.Length > 0)
                {
                          <div class="alert alert-success alert-dismissible fade show" role="alert">
                              <strong>@Model.successMessage</strong>
                              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>
                }

                
                
                <fieldset id="">
                    <label>Lecture Course</label>
                    <select asp-for="CourseName">
                        @*<option>Choose</option>*@
                        @foreach (var course in Model.CoursesList())
                        {
                                <option value="@course">@course</option>
                        }
                    </select>
                </fieldset>
                <span asp-validation-for="CourseName" class="text-danger"></span>
                <br />



                
                <fieldset id="">
                    <label>Lecture Instructor</label>
                    <select asp-for="InstructorName">
                      @* <option>Choose</option> *@
                        @foreach(var instructor in Model.InstructorsList())
                        {
                            <option value="@instructor">@instructor</option>
                        }
                    </select>
                </fieldset>
                <span asp-validation-for="InstructorName" class="text-danger"></span>
                
                
                 <br />
                 <fieldset>
                    <label>Lecture Location</label>
                    <select asp-for="Location">
                        <option value="Lecture hall 1">Lecture hall 1</option>
                        <option value="Lecture hall 2">Lecture hall 2</option>
                        <option value="Lecture hall 3">Lecture hall 3</option>
                        <option value="Lecture hall 4">Lecture hall 4</option>
                        <option value="Lecture hall 5">Lecture hall 5</option>
                        <option value="Lecture hall 6">Lecture hall 6</option>
                        <option value="Lecture hall 7">Lecture hall 7</option>
                        <option value="Lecture hall 8">Lecture hall 8</option>
                        <option value="Lecture hall 9">Lecture hall 9</option>
                    </select>
                </fieldset> 
                <span asp-validation-for="Location" class="text-danger"></span>


              




                <br /> 
                <label>Lecture Date</label>
                <input asp-for="DateOfLecture" type="date" phone="user1" class="form-control">
                <span asp-validation-for="DateOfLecture" class="text-danger"></span>
                

                <br />
                <label>Lecture Start Time</label>
                <input asp-for="StartTime" type="time" phone="user1" class="form-control">
                <span asp-validation-for="StartTime" class="text-danger"></span>


                <br  />

                

                <label>Lecture End Time</label>
                <input asp-for="EndTime" type="time" phone="user1" class="form-control">
                <span asp-validation-for="EndTime" class="text-danger"></span>

                <br />
                <button type="submit" class="btn" style="  display: inline-block;
          background-color: #172432;
          border: none;
          color: #ddd;
          padding: 10px 20px;
          border-radius: 5px;">
                    Add
                </button>
            </form>
        </div>
    </div>

</body>